<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> VAMSTAR PAYPAL INTEGRATION TEST </title>
</head>
<body>
    <h1> Orders Page </h1>
    <h2> Nahi hua toh bohot maarunga - $25</h2>
    <form action="/order/create" method="post">
        <label for="name"> Name </label>
        <input type="text" id="name" required name="name"><br>
        <label for="price"> Amount </label>
        <input type="number" id="price" required name="price" min="0" value="0" step=".01"><br>
        <label for="currency">Preferred Currency</label>
            <select id="currency" name="currency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="THB">THB</option>
            <option value="HKD">HKD</option>
            <option value="AUD">AUD</option>
            <option value="SGD">SGD</option>
        </select><br>
        <input type="submit" value="Place Order">
    </form>
 </body>
</html>